<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - SlovníHodiny</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/SlovníHodiny.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold" asp-area="" asp-controller="Home" asp-action="Index">Kolekce aplikací</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between align-items-center text-nowrap">
                <ul class="navbar-nav flex-grow-1 align-items-center">
                    <li class="nav-item d-flex align-items-center">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Domů</a>
                    </li>
                    <li class="nav-item d-flex align-items-center">
                        <a class="nav-link text-dark d-flex align-items-center fw-bold" asp-controller="Search" asp-action="Index">Křížovkářský slovník</a>
                    </li>
                    <li class="nav-item d-flex align-items-center">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Ochrana soukromí</a>
                    </li>
                    <li class="nav-item d-flex align-items-center">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Clock">Slovní hodiny</a>
                    </li>
                    <li class="nav-item d-flex align-items-center">
                        <a target="_blank" class="nav-link text-dark" asp-controller="Alarm"
                           asp-action="Index">Budíky</a>
                    </li>
                    <li class="nav-item d-flex align-items-center">
                        <a class="nav-link text-dark" asp-controller="Document" asp-action="Index">Moje dokumenty</a>
                    </li>
                    <li class="nav-item d-flex align-items-center">
                        <a class="nav-link" asp-controller="Document" asp-action="Gallery">
                            <i class="fas fa-images"></i> Galerie
                        </a>
                    </li>

                    <li class="nav-item d-flex align-items-center">
                        <a class="nav-link text-dark d-flex align-items-center" asp-controller="Departures"
                           asp-action="Index">Odjezdy PID<img src="logo PID text CZ screen.png"
                                                              style="width: 8%; margin-left: 5px;" alt=""/></a>
                    </li>
                    <div class="nav-item d-flex align-items-center">
                        <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline" id="logoutForm">
                            @Html.AntiForgeryToken()
                            <button class="btn btn-secondary" type="submit">Odhlásit se...</button>
                        </form>

                    </div>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted bg-black fw-bold">
    <div class="container">
        &copy; 2025 SPŠE Ječná - Kolekce aplikací
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script>
    // Store theme preference in localStorage
    const storedTheme = localStorage.getItem('theme') || 'light';
    document.documentElement.setAttribute('data-bs-theme', storedTheme);

    document.getElementById('themeToggle').addEventListener('click', () => {
        const currentTheme = document.documentElement.getAttribute('data-bs-theme');
        const newTheme = currentTheme === 'light' ? 'dark' : 'light';
        document.documentElement.setAttribute('data-bs-theme', newTheme);
        localStorage.setItem('theme', newTheme);
    });
</script>

<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>