@{
    ViewData["Title"] = "Úvod";
}
<link rel="stylesheet" href="~/css/index.css" />
<div class="text-center">
    <h1 class="display-4">Úvod</h1>
    <p>Slovní hodiny je speciální typ hodin, kde místo kulatého ciferníku s ručičkami je čas zobrazen pomocí slov na čtvercovém "ciferníku", například takto: "</p>
    <pre style="font-size:32px; line-height:1; letter-spacing:0;">
┌──────────────────────┐
│  je deset            │
│                      │
│           hodin      │
│                      │
│   a      třicet      │
│                      │
│       minut          │
│                      │
└──────────────────────┘
</pre>
    <p>Každé slovo má v ciferníku jinou pozici, a proto jsou různě rozmístěna. Ostatní slova nesvítí (jsou šedá).</p>
    <br/>
    <p>Minuty jsou po deseti: "nula", "deset", "dvacet", atd...</p>
    <br/>
    <p>Hodin je dvanáct, jako na normálních hodinách.</p>
</div>