@{
    ViewData["Title"] = "No Database";
}

<!DOCTYPE html>

<html lang="cs">
<head>
    <title>No Database</title>
</head>
<body>
<div class="border border-danger rounded-3 border-3 p-2">
    <h1 class="d-flex text-center align-items-center text-danger">Error!</h1>
    <h1 class="d-flex text-center align-items-center text-danger">No database exists or connection failed! Check your appsettings.json and the connection string.</h1>
</div>
</body>
</html>