@model SlovníHodiny.Models.Alarm
@{
    ViewData["Title"] = "Smazání budíku";
}
<h2>Smazání budíku</h2>

<div>
    <h4>Opravdu chcete smazat tento budík?</h4>
    <dl class="row">
        <dt class="col-sm-2">Čas</dt>
        <dd class="col-sm-10">@Model.Time</dd>
        <dt class="col-sm-2">Popisek</dt>
        <dd class="col-sm-10">@Model.Label</dd>
    </dl>
    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Smazat</button>
        <a asp-action="Index" class="btn btn-secondary">Zpět</a>
    </form>
</div>