#app {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
    color: #333;
    padding: 20px;
    width: fit-content;
    display: flex;
    justify-content: center;
}

div[id="smer"], div[id="cislo"]{
    font-size: 25px;
    color: #ff5722;
    font-weight: bold;
}

.departures-container {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Space between rows */
    margin: 20px auto;
    width: 40vw;
    justify-content: center;
}

.departure-row:hover {
    background-color: #f9f9f9;
}

.route {
    font-weight: bold;
    color: #ff5722;
    flex: 1;
}

.destination {
    flex: 2;
    text-align: left;
}

.scheduled-time {
    flex: 1.5;
    text-align: center;
    color: #333;
}

.platform {
    flex: 1;
    text-align: center;
    font-style: italic;
    color: #555;
}


.delay {
    flex: 1.5;
    text-align: center;
    color: #d70f41;
    font-size: large;
}

.no-delay {
    flex: 1.5;
    color: green; /* Change this to your desired color */
    font-weight: bold;
}

.slight-delay {
    flex: 1.5;
    color: #eaa11e;
    font-size: large;
}

.ac, .krypl {
    flex: 1;
}


h1 {
    color: #ff4000;
    font-size: 2em;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

input#stop-name {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 20px);
    margin-bottom: 10px;
}

input#stop-name:focus {
    border-color: #ff5722;
    outline: none;
    box-shadow: 0 0 5px rgba(255, 87, 34, 0.5);
}

button {
    background-color: #ff5722;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #e64a19;
}

.error {
    color: red;
    font-weight: bold;
    margin-top: 10px;
    font-size: 25px;
}

.loading {
    color: blue;
    font-weight: bold;
    margin-top: 10px;
    font-size: 25px;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: fit-content;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f5f5f5;
    color: #333;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}